:root {
  --largeur: 1920px;
  --hauteur: 1080px; /* Pour un cadre carré, mettez la même valeur en hauteur et en largeur */
  --bordersize: 20px; /* Gère la taille du contour du cadre */
  --vitesseanimation: 15s;
  --couleur1: blue;
  --couleur2: orange; /* Pour un cadre de couleur uniforme et sans animation, mettre la même couleur que la variable couleur --couleur1 
  Plus d'informations sur les couleurs et les dégradés sur https://cssgradient.io */
}

/* Ne modifiez rien en dessous sauf si vous savez ce que vous faites */

.cadre-gradient {
  width: var(--largeur);
  height: var(--hauteur);
  margin: 0 auto;
  background: linear-gradient(270deg, var(--couleur1), var(--couleur2));
  background-size: 600% 600%;
  animation: animationGradient var(--vitesseanimation) ease infinite;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--bordersize) 100%,
    var(--bordersize) var(--bordersize),
    calc(100% - var(--bordersize)) var(--bordersize),
    calc(100% - var(--bordersize)) calc(100% - var(--bordersize)),
    0% calc(100% - var(--bordersize)),
    var(--bordersize) 100%,
    100% 100%,
    100% 0%
  );
}

@keyframes animationGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
